a{
    text-decoration: none;
    color: #E5E7EB;
}

body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

button{
    margin: 8px 0;
    background: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: none;
    padding: 4px 16px;
}

h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

img{
    margin: 24px;
}

.header{
    display: flex;
    background: #1F2937;
    align-items: center;
    gap: 200px;
    justify-content: center;
    padding-right: 20px;
}

.header h3{
    font-size: 24px;
    color: #F9FAF8;
}


.header ul{
    list-style-type: none;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 18px;
}

.awesome{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
}

.text{
    width: 400px;
}

.text h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.text p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info p{
    text-align: center;
}

.pictures{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.pictures p{
    width: 250px;
}

.one img, .two img, .three img, .four img{
    border: 5px solid #3882F6;
    border-radius: 16px;
    margin-bottom: -10px;
}

.one, .two, .three, .four{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote{
    background: #E5E7EB;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.quotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    align-items: flex-end;
}

#words{
    flex-wrap: wrap;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    margin-bottom: -10px;
}

#speaker{
    font-weight: bold;
    font-size: 20px;
}

.action{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.back{
    display: flex;
    background: #3882F6;
    justify-content: space-evenly;
    border-radius: 8px;
    align-items: center;
    padding: 20px 60px;
    gap: 80px;
}

.backtext{
    color: white;
}

#call{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -15px;
}

.backbutton button{
    border: 2px solid white;
}

.footer{
    display: flex;
    justify-content: center;
    background: #1F2937;
    color: white;
    padding: 20px;
}


