body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.header{
    display: flex;
}

.header ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 8px;
    align-items: center;
}